.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#headImage{
  background-image: url("bread-bun.jpeg");
  background-size: 100vw;
  color: white;
  height: 50vh;
  margin-bottom: 0px;
  padding-top: 0px;
}

.tabs{
  /* background-color: blue; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* #NavBar{
  padding-left: auto;
  padding-right: auto;
} */
@media (max-width: 690px){
#headImage{
  background-image: url("bread-bun-chopping-board-tall.jpg");
}
}

